designer/ui/src/main/resources/DTD/sys_Node.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Copyright 1999-2021 Percussion Software, Inc.
  -
  - Licensed under the Apache License, Version 2.0 (the "License");
  - you may not use this file except in compliance with the License.
  - You may obtain a copy of the License at
  -
  -     http://www.apache.org/licenses/LICENSE-2.0
  -
  - Unless required by applicable law or agreed to in writing, software
  - distributed under the License is distributed on an "AS IS" BASIS,
  - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  - See the License for the specific language governing permissions and
  - limitations under the License.
  -->

<!--DTD generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<!ENTITY % props SYSTEM "sys_Props.dtd">
%props;
<!ELEMENT PSXNode (PSXProps?, TableMeta?, RowData?, PSXNode*)>
<!ATTLIST PSXNode
	name CDATA #REQUIRED
	type (Root | SystemCategory | SystemFolder | SystemView | Category | Folder | View | NewSearch | SavedSearch | Slot | SlotItem | Item) #REQUIRED
	label CDATA #REQUIRED
	expanded (false | true) #REQUIRED
	childrenurl CDATA #IMPLIED
	iconkey CDATA #IMPLIED
>
<!ELEMENT TableMeta (Column+)>
<!ELEMENT Column EMPTY>
<!ATTLIST Column
	name CDATA #REQUIRED
	type (String | Number | Date | Binary) "String"
>
<!ELEMENT RowData (ColumnData+)>
<!ELEMENT ColumnData (Value)>
<!ATTLIST ColumnData
	name CDATA #REQUIRED
>
<!ELEMENT Value ANY>
